/*! CSS Used from: https://bxkd6.sse.codesandbox.io/example/styles/example.css */
*,
*:before,
*:after {
  box-sizing: inherit;
}

button,
input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.draftJsSidebarPlugin__toolbar__dNtBH {
  left: 50%;
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1);
  position: absolute;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
  box-sizing: border-box;
}
.draftJsSidebarPlugin__modalWrapper__EaX74 {
  white-space: nowrap;
  background: #fff;
  box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white;
  width: 360px;
}
.draftJsSidebarPlugin__modalInput__1sp75 {
  background-color: transparent;
  border: none;
  color: #181818 !important;
  font-size: 15px;
  height: auto;
  line-height: 1.2;
  margin: 0;
  padding: 16px;
  width: 270px;
}
.draftJsSidebarPlugin__modalInput__1sp75:focus {
  outline: none;
}
.draftJsSidebarPlugin__modalButton__ffoIL {
  padding: 0;
  cursor: pointer;
  border: 0;
  height: 46px;
  width: 46px;
  background: transparent;
  padding-right: 16px;
  color: #ccc;
}
